<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.product.home.title">Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/', { outlets: { popup: ['product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterSampleApplicationApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterSampleApplicationApp.product.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="products">
        <div class="list-group">
            <a [routerLink]="['../product', product.id ]"
               class="list-group-item list-group-item-action flex-column
           align-items-start"
               *ngFor="let product of products; trackBy: trackId">
                <div class="row">
                    <div class="col-2 col-xs-12 justify-content-center">
                        <img [src]="'data:' + product.imageContentType +
                        ';base64,' + product.image"
                             style="max-height:150px;" alt="product image"/>
                    </div>
                    <div class="col col-xs-12">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{product.name}}</h5>
                        <small *ngIf="product.productCategory">
                            <a [routerLink]="['../product-category',
                         product.productCategory?.id ]" >
                                {{product.productCategory?.id}}
                            </a>
                        </small>
                    </div>
                    <small class="mb-1">{{product.description}}</small>
                    <p class="mb-1">Price: {{product.price | currency:'USD'}}</p>
                    <small>
                        Size:
                        <span jhiTranslate="{{'storeApp.Size.' +
                     product.size}}">
                        {{product.size}}
                    </span>
                    </small>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="submit"
                                    [routerLink]="['/',
                                    { outlets: { popup: 'product/'+
                                    product.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/',
                                    { outlets: { popup: 'product/'+
                                     product.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline"
                                      jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                </div>
                </div>
                </a>

        </div>
    </div>
    <div *ngIf="products && products.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
